<mat-toolbar>
  <mat-toolbar-row>
    <img class="icon" src="../../../../favicon.ico" alt="icon" />
    <span class="title">ポケモンクイズ</span>
    <div class="header-button">
      <button mat-stroked-button color="accent" routerLink="/top">
        さいしょから
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div *ngIf="range && level" class="setting-info">
      <label>でてくるポケモン：</label>
      <label class="range">{{ range }}</label
      ><br />
      <label>でてくるもんだい：</label>
      <label class="level">{{ level }}</label>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
