<mat-toolbar>
  <mat-toolbar-row>
    <img class="icon" src="../../../../favicon.ico" alt="icon" />
    <span class="title">ポケモンクイズ</span>
    <div class="float-right">
      <button
        mat-stroked-button
        color="accent"
        routerLink="/top"
        class="header-button"
      >
        さいしょから
      </button>
    </div>
    <div *ngIf="range" class="float-right setting-info">
      <label>でてくるポケモン：</label>
      <label class="range">{{ range }}</label>
    </div>
    <div *ngIf="level" class="float-right setting-info">
      <label>むずかしさ：</label>
      <label class="level">{{ level }}</label>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
