.btn {
  height: 100px;
  font-size: 2rem;
  padding: 5px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

.button {
  text-align: center;
}

.footer {
  position: relative;
  bottom: 5px;
  color: red;
  font: bold;
}
