.btn {
  height: 100px;
  margin-top: 15px;
  font-size: 2rem;
  padding: 5px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

.footer {
  position: absolute;
  bottom: 5px;
  color: red;
  font: bold;
}
