<div class="button">
  <button type="button" class="btn btn-info col-sm-5 mb-1" (click)="start()">
    フリーモード
  </button>
</div>
<div class="button">
  <button
    type="button"
    class="btn btn-success col-sm-5 mb-1"
    (click)="adventureStart()"
  >
    ぼうけんモード
  </button>
</div>
<div class="button">
  <button
    type="button"
    class="btn btn-danger col-sm-5 mb-1"
    (click)="weaknessStart()"
  >
    じゃくてんモード
  </button>
</div>
<div class="button">
  <button
    type="button"
    class="btn btn-primary col-sm-5 mb-1"
    (click)="ranking()"
  >
    でんどういりをみる
  </button>
</div>

<div class="button">
  <button
    type="button"
    class="btn btn-warning col-sm-5 mb-1"
    (click)="setting()"
  >
    むずかしさをかえる
  </button>
</div>
<br />
<div class="footer">
  <label>といあわせ：frysk.pokemon.quiz@gmail.com</label>
</div>
