.modal-body {
  font-weight: bold;
  font-size: 2rem;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  color: red;
  text-align: center;
}

.preview {
  width: 10rem;
}
