<div class="container card m-t-lg">
  <div class="card-header">
    <label class="setting">せってい</label>
  </div>
  <div class="card-body">
    <p>もんだいにでてくるポケモン：</p>
    <form [formGroup]="form">
      <div class="form-group form-row">
        <div class="col-md-3">
          <select
            class="custom-select w-75"
            (change)="rangeChange($event.target.value)"
            formControlName="pokemonRange"
          >
            <option
              *ngFor="let pokemonRange of pokemonRanges"
              [value]="pokemonRange"
            >
              {{ pokemonRange }}
            </option>
          </select>
        </div>
        <label style="color: red"
          >※「イッシュ」と「カロス」はじゅんびちゅうです。</label
        >
      </div>
    </form>
    <button type="button" class="btn btn-info  w-100px ml-1" (click)="start()">
      スタート
    </button>
  </div>
</div>
