.question {
  color: red;
  font-weight: bold;
  font-size: 20pt;
}

.container {
  top: 15px;
}

.card-header {
  background-color: mistyrose;
}

.form-control[readonly] {
  background-color: white;
}

.preview {
  width: 5%;
}
