.question {
  color: red;
  font-weight: bold;
  font-size: 15pt;
  display: contents;
}

.container {
  top: 15px;
  padding: 0px;
}

.card-header {
  background-color: mistyrose;
}

.form-control[readonly] {
  background-color: white;
}

.preview {
  width: 5rem;
}

.form-control {
  width: auto;
}

.col-form-label {
  width: auto;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-3 {
  width: 25%;
}

.btn {
  height: 4rem;
}

.debug {
  color: red;
  font-size: 12pt;
  padding-top: 25px;
}
