<div class="container card m-t-lg">
  <div class="card-header">
    <label class="question">Q{{ count }}. {{ question }}</label>
  </div>
  <div class="card-body">
    <form [formGroup]="form" autocomplete="off">
      <div>
        <img class="preview" src="{{ imageUrl }}" alt="ポケモンイメージ" />
      </div>
      <div [class]="formGroupClass" *ngIf="quizType != 1">
        <label [class]="labelClass">なまえ：</label>
        <input
          type="text"
          [class]="inputClass"
          formControlName="name"
          readonly
        />
      </div>
      <div [class]="formGroupClass" *ngIf="quizType != 2">
        <label [class]="labelClass">タイプ：</label>
        <input
          type="text"
          [class]="inputClass"
          formControlName="types"
          readonly
        />
      </div>
      <div [class]="formGroupClass" *ngIf="quizType != 3">
        <label [class]="labelClass">しんか：</label>
        <input
          type="text"
          [class]="inputClass"
          formControlName="evolutions"
          readonly
        />
      </div>
      <div [class]="formGroupClass" *ngIf="quizType != 4">
        <label [class]="labelClass">とくせい：</label>
        <input
          type="text"
          [class]="inputClass"
          formControlName="abilities"
          readonly
        />
      </div>
      <div [class]="formGroupClass" *ngIf="quizType != 4">
        <label [class]="labelClass">かくれとくせい：</label>
        <input
          type="text"
          [class]="inputClass"
          formControlName="hiddenAbilities"
          readonly
        />
      </div>
    </form>
    <div>
      <button
        type="button"
        class="btn btn-info mb-1 col-lg-3"
        (click)="register(answer1)"
      >
        {{ answer1 }}
      </button>
      <button
        type="button"
        class="btn btn-danger mb-1 col-lg-3"
        (click)="register(answer2)"
      >
        {{ answer2 }}
      </button>
      <button
        type="button"
        class="btn btn-success mb-1 col-lg-3"
        (click)="register(answer3)"
      >
        {{ answer3 }}
      </button>
      <button
        type="button"
        class="btn btn-warning mb-1 col-lg-3"
        (click)="register(answer4)"
      >
        {{ answer4 }}
      </button>
    </div>
  </div>
</div>
<!-- <div class="debug">
  <div>チェックメソッド：{{ checkAnswer }}</div>
  <div>
    {{ debugTarget | json }}
  </div>
  <div>
    {{ debugDummy1 | json }}
  </div>
  <div>
    {{ debugDummy2 | json }}
  </div>
  <div>
    {{ debugDummy3 | json }}
  </div>

  <div>
    表示内容：
  </div>
  <div>
    {{ debugAnswerList[0] | json }}
  </div>
  <div>
    {{ debugAnswerList[1] | json }}
  </div>
  <div>
    {{ debugAnswerList[2] | json }}
  </div>
  <div>
    {{ debugAnswerList[3] | json }}
  </div>
</div> -->
