.modal-title {
  font-weight: bold;
  font-size: 15pt;
}

.modal-body {
  font-weight: bold;
  font-size: 2rem;
}

.ok {
  color: rgb(2, 170, 2, 0.8);
}

.ng {
  color: rgb(255, 0, 0, 0.8);
}
